@model IEnumerable<Suites.Entities.Prodect>

@{
    ViewBag.Title = "Index";
}

   
<div id="tablePro">
    @{
        Html.RenderAction("prodectTable");
    }
</div>
<div id="opeartionArea">

</div>

