@model IEnumerable<Suites.Entities.Prodect>

@{
    ViewBag.Title = "Index";
}
<div id="tablePro">
    @{
        Html.RenderAction("prodectTable");
    }
</div>

<div id="opeartionArea">

</div>
<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>