@model SuitsWeb.ViewModel.VMCheckout 

@if (Model != null)
{
    if (Model.CartProducts != null && Model.CartProducts.Count > 0)
    {
        <div>
            @foreach (var product in Model.CartProducts)
            {
                var productQuantity = Model.CartProductIDs.Where(productID => productID == product.ID).Count();

                <div>
                    Name: @product.Name   - Price: @product.prise   - Quantity: @productQuantity Total Price: @(product.prise  * productQuantity)
                </div>
            }
        </div>

        <div>
            Total Bill : @Model.CartProducts.Sum(x => x.prise  * Model.CartProductIDs.Where(productID => productID == x.ID).Count())
        </div>
    }
    else
    {
        <div>
            No Products in Cart.
        </div>
    }
}
